<template >
    <div class="c-container">
        <template if:true={approvalModal}>
            <c-hl-universal-modal 
                title={approvalModalTitle} 
                body={approvalModalBody} 
                m-data={approvalModalData}
                onok={approvalCheckAction}
                oncancel={approvalCancel}>
            </c-hl-universal-modal>
        </template>
        <template if:true={engagementVfId}>
            <c-hl-universal-header 
                hl-header-id={engagementVfId} 
                hl-header-object-api="Engagement__c"
                button-one-label="Summary Report"
                button-one-url={engageSumReportLink}
                onappeventone={engageSumGenericUpdate}
                oncontext={setContextRecord}>
            </c-hl-universal-header>
        </template>
        <div class="c-container slds-p-left_small slds-p-right_small slds-p-top_small slds-p-bottom_small">
            <div class="slds-grid_vertical slds-wrap ">
                <div class="slds-col slds-p-bottom_small">
                    <div class="slds-grid">
                        <div class="slds-col slds-size_5-of-12 slds-p-right_small">
                            <template if:true={engagementId}>
                                <c-hl-engage-team 
                                    engagement-id={engagementId} 
                                    engage-record={engageRecord} 
                                    engage-rec-type-info={engageRecTypeInfo}
                                    engage-team-cols={engageTeamCols}
                                    type-table=true
                                    onloadteam={approvalLoadApprovers}>
                                </c-hl-engage-team>
                            </template>
                        </div> 
                        <div class="slds-col slds-size_7-of-12 " style="height: 200px">
                            <template if:true={engageSumId}>
                                <c-hl-universal-approval-history
                                    record-id={engageSumId}>
                                </c-hl-universal-approval-history>
                            </template>
                        </div> 
                    </div>
                </div>
                <template if:true={toast}>
                    <div style="position: absolute; width: 100%">
                        <c-hl-universal-toast 
                            type={toastType} 
                            onclose={toastClose} 
                            message={toastMessage} >
                        </c-hl-universal-toast>
                    </div>
                </template>
                <div class="slds-col summarytabs">
                    <template if:true={spinner}>
                        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                    </template>
                    <template if:true={engageSumId}>
                        <c-hl-engage-sum-cf-content 
                            engagement-id={engagementId} 
                            engagement-rec-type-id={engagementRecTypeId}
                            engage-sum-id={engageSumId} 
                            engage-sum-rec-type-id={engageSumRecTypeId}
                            engage-sum-fields={engageSumFields}
                            engage-record={engageRecord}
                            engage-lob={engageLob}
                            engage-job-type-norm={engageJobTypeNorm}
                            onengagesumload={engageSumDataSet}
                            onengagesumgenupdate={engageSumGenericUpdate}
                            onstagechange={engageSumStageChange}>
                        </c-hl-engage-sum-cf-content>
                    </template>
                    <template if:true={engageSumError}>
                        <span style="color: red;">{engageSumError}</span>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template >